.card {
    @apply p-4;
    background: theme("colors.white");
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;

    &__header {
        @apply font-light text-blue-oxford text-lg mb-4;
    }
}
